---
layout: default
---
<h1>Recent Papers </h1>

<span style="line-height:2;">-Source code and supplementary materials are avaialbe upon </span><a href="mailto:dongfangxy@163.com"><span style="line-height:2;">request</span></a> 

<ul class="paper-list">
{% for papers in site.posts limit:10%}
{% if papers.category == "paper"%}
<li class="paper-item">
  <span class="paper-date">{{papers.date | date: '%D'}}</span>
  <a href="{{site.baseurl}}{{ papers.url }}">{{ papers.title }}</a>
  <div class="paper-authors">{{papers.content}}</div>
</li>
{% endif %}
{% endfor %}
</ul>

<!--
	<hr />是横线的意思
-->
<hr />

{% include publications.html%}


