---
layout: default
---
<h1>Recent Papers(test)</h1>

<span style="line-height:2;">-Source code and supplementary materials are avaialbe upon </span><a href="mailto:dongfangxy@163.com"><span style="line-height:2;">request</span></a> 

<ul>
{% for papers in site.posts limit:5%}
{% if papers.category == "paper"%}
<li>
  {{papers.date | date: '%D'}} <a href="{{site.baseurl}}{{ papers.url }}">{{ papers.title }}</a>
  <p>{{papers.content}}</p>
</li>
{% endif %}
{% endfor %}
</ul>

<!--
	<hr />是横线的意思
-->
<hr />

{% include publications.html%}


