<p><a name = "home" ></a></p>
<table class="imgtable"><tr><td>
<img src="{{site.url}}/zhangcx.jpg" alt="Portrait of Chengxi Zhang" width="182px" height="249px" />&nbsp;</td>
<td align="left"><h1>Chengxi Zhang 张承玺</h1><br/>
<p>PhD,  Associate Professor<br />

I was born in Qufu, China. I received the B.S. and M.S. degrees from the Harbin Institute of Technology (HIT, 哈尔滨工业大学), China, in 2012 and 2015, and the Ph.D. degree from Shanghai Jiao Tong University (上海交通大学), China. I worked at HIT, China from 2020-2022. <br />
Since 2022, I have been an Associate Professor of Jiangnan Univerisity, Wuxi China.
</p>
</td></tr></table>
