<h1>
	<span style="line-height:2;">Research Publications</span>
</h1>
<div>
	<div>
		<p>
			<span style="line-height:2;">- Source code and supplementary materials are avaialbe upon </span><a href="mailto:dongfangxy@163.com"><span style="line-height:2;">request</span></a>
		</p>
	</div>
</div>
<p>
	<a></a> 
</p>
<h2>
	<span style="line-height:2;">Journal Papers</span>
</h2>
<h4>
	<span style="line-height:2;">SCI-Paper:</span>
</h4>
<ol>
	<li>
		<b><span style="line-height:2;">Chengxi
Zhang</span></b><span style="line-height:2;">, Ming-Zhe Dai, Peng Dong, Henry Leung, Jihe Wang. Fault-Tolerant
Attitude Stabilization for Spacecraft with Low-Frequency Actuator Updates: An
Integral-Type Event-Triggered Approach, </span><b><span style="line-height:2;">IEEE
Transactions on Aerospace and Electronic Systems</span></b><span style="line-height:2;">, 2020.&nbsp;</span><span style="line-height:2;">&nbsp;</span>
	</li>
	<li>
		<b><span style="line-height:2;">Chengxi
Zhang</span></b><span style="line-height:2;">, Jihe</span><span style="line-height:2;"> Wang, etc., Fault-tolerant adaptive finite-time attitude
synchronization and tracking control for multi-spacecraft formation.&nbsp;</span><b><span style="line-height:2;">Aerospace Science and Technology</span></b><span style="line-height:2;">, 73
(2018) 197-209.</span>
	</li>
	<li>
		<b><span style="line-height:2;">Chengxi Zhang,</span></b><span style="line-height:2;">&nbsp;Jihe Wang, etc. Learning observer based and event-triggered control to spacecraft against actuator faults,&nbsp;</span><b><span style="line-height:2;">Aerospace Science and Technology</span></b><i><span style="line-height:2;">,</span></i><span style="line-height:2;">&nbsp;78 (2018) 522–530.</span><span style="line-height:2;"></span>
	</li>
	<li>
		<b><span style="line-height:2;">Chengxi
Zhang, </span></b><span style="line-height:2;">Jihe Wang, etc. Multi-spacecraft attitude cooperative control
using model-based event-triggered methodology</span><b><span style="line-height:2;">, Advances in Space Research</span></b><span style="line-height:2;">,</span><b> </b><span style="line-height:2;">62 (2018) 2620–2630.&nbsp;</span>
	</li>
	<li>
		<b><span style="line-height:2;">Chengxi
Zhang</span></b><span style="line-height:2;">, Jihe Wang, etc. Synchronization and tracking of multi-spacecraft
formation attitude control using adaptive sliding mode, </span><b><span style="line-height:2;">Asian Journal of Control</span></b><span style="line-height:2;">, 21 (2019) 1–15.&nbsp;</span>
	</li>
	<li>
		<b><span style="line-height:2;">Chengxi
Zhang</span></b><span style="line-height:2;">, Jin Wu, Ming-Zhe Dai, Bo Li, Mingjiang Wang. Event- and
self-triggered control of attitude coordination to multi-spacecraft formation. </span><b><span style="line-height:2;">Aircraft Engineering and Aerospace
Technology</span></b><span style="line-height:2;">, 2020.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">&nbsp;Xiaoyu Zhu, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Junli Chen, Xiangcheng Wan. Orbit determination for fuel
station in multiple SSO spacecraft refueling considering the J2 perturbation, </span><b><span style="line-height:2;">Aerospace Science and Technology</span></b><span style="line-height:2;">, 2020.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">Jiaolong Wang, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Qingxian Jia, Minzhe Li. Suboptimal adaptive Kalman
filter based on the proportional control of prior error covariance, </span><b><span style="line-height:2;">ISA transactions</span></b><span style="line-height:2;">, 2019.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">Jin Wu, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Zebo Zhou. MAV Quaternion Attitude Determination for
Accelerometer-Magnetometer Combination: Internal Analysis.</span><b><span style="line-height:2;"> tm - Technisches Messen</span></b><span style="line-height:2;">,</span><b> </b><span style="line-height:2;">2020.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">Jin Wu, Ming Liu, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Zebo Zhou, Correspondence Matching and Time Delay
Estimation for Hand-eye Calibration,</span><i> </i><b><span style="line-height:2;">IEEE Transactions on Instrumentation and
Measurement</span></b><i><span style="line-height:2;">, </span></i><span style="line-height:2;">2020</span><i><span style="line-height:2;">.&nbsp;</span></i>
	</li>
	<li>
		<span style="line-height:2;">Ran Sun, Aidang Shan, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Jin Wu, Qingxian Jia. Quantized
Fault-Tolerant Control for Attitude Stabilization with Fixed-Time Disturbance
Observer, </span><b><span style="line-height:2;">Journal of Guidance, Control,
and Dynamics</span></b><span style="line-height:2;">, 2020.&nbsp;</span><span style="line-height:2;">(Accept, to be published.)</span>
	</li>
	<li>
		<span style="line-height:2;">Ran Sun, Aidang Shan, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Qingxian Jia. Optimal
spacecraft rendezvous using the combination of aerodynamic force and Lorentz
force,</span><span> </span><b><span style="line-height:2;">Advances in
Space Research</span></b><span style="line-height:2;">,</span><i> </i><span style="line-height:2;">2020.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">Ran Sun, Aidang Shan, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Qingxian Jia. Spacecraft
formation control using aerodynamic and Lorentz force,</span><span> </span><b><span style="line-height:2;">Aircraft Engineering and Aerospace
Technology</span></b><span style="line-height:2;">, 2019.</span>
	</li>
	<li>
		<span style="line-height:2;">Jie Liu, Ming-Zhe Dai, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Jin Wu.
Edge-Event-Triggered Synchronization for Multi-Agent Systems With Nonlinear
Controller Outputs. </span><b><span style="line-height:2;">Applied Sciences</span></b><span style="line-height:2;">,</span><b> </b><span style="line-height:2;">10(15):5250, 2020.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">Liqin Zhou, Changbin Wang, Lin Li, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Song Dalei, Chong Li.
Double-boundary Interval Fault-tolerant Control for a Multi-vector Propulsion
ROV with Thruster Failure, </span><b><span style="line-height:2;">Industrial
Robot</span></b><span style="line-height:2;">,</span><b> </b><span style="line-height:2;">2020.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">Xiaoyu Zhu, Junli Chen, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Bing Qiao. Optimal Fuel
Station Arrangement for Multiple GEO Spacecraft Refueling Mission. </span><b><span style="line-height:2;">Advances in Space Research</span></b><span style="line-height:2;">,</span><b> </b><span style="line-height:2;">2020.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">Jin Wu, Ming Liu, Yilong Zhu, Zhuhao
Zou, Ming-Zhe Dai, </span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="line-height:2;">, Yi
Jiang, Chong Li, Globally Optimal Symbolic Hand-Eye Calibration, </span><b><span style="line-height:2;">IEEE/ASME Transactions on Mechatronics</span></b><span style="line-height:2;">,</span><b> </b><span style="line-height:2;">2020.&nbsp;</span>
	</li>
	<li>
		<span style="line-height:2;">Jin Wu, Yi Jiang, Chong Li, Ran Sun,</span><b><span style="line-height:2;"> Chengxi Zhang</span></b><span style="line-height:2;">, Yang Yu, Yilong Zhu,
Ming Liu, Circuit Synthesis of 3-D Rotation Orthonormalization, </span><b><span style="line-height:2;">IEEE Transactions on Circuits and Systems
II: Express Briefs</span></b><span style="line-height:2;">, 2020.&nbsp;</span><span style="line-height:2;">&nbsp;(Accept.)</span>
	</li>
</ol>
<h4>
	<b><span style="line-height:2;">Non-SCI Paper：</span></b>
</h4>
<p>
	<ol>
		<li>
			<span style="line-height:2;">贾庆贤</span><span style="line-height:2;">,</span><b><span style="line-height:2;">张承玺</span></b><span style="font-weight:normal;"><span style="line-height:2;">, 李化</span><span style="line-height:2;"></span><span style="line-height:2;">义, 张迎春. 基于新型学习观测器的卫星执行机构故障重构.</span></span><b><span style="line-height:2;">系统工程与电子技术</span></b><span style="font-weight:normal;line-height:2;">，2019</span><b><span style="line-height:2;">.&nbsp;</span></b>
		</li>
	</ol>
</p>
<p>
	<a></a> 
</p>
<h2>
	<span style="line-height:2;">Conference Papers</span>
</h2>
<ol>
	<li>
		<span style="line-height:2;">Ming-Zhe Dai, Weiming Fu, Dangjun Zhao,&nbsp;</span><b><span style="line-height:2;">Chengxi Zhang</span></b><span style="font-size:12px;font-weight:normal;line-height:2;">. Distributed self-triggered control with quantized edge state sampling and time delays,&nbsp;</span><b><span style="line-height:2;">2020 International Conference on Guidance, Navigation and Control</span></b><span style="font-size:12px;font-weight:normal;line-height:2;">.</span>
	</li>
</ol>