<!---

<h3>
	<strong>Papers before 2021</strong>
</h3>

<ol>
	<li>
		<b><span style="line-height:2;">Chengxi
Zhang</span></b><span style="line-height:2;">, Ming-Zhe Dai, Peng Dong, Henry Leung, Jihe Wang. Fault-Tolerant
Attitude Stabilization for Spacecraft with Low-Frequency Actuator Updates: An
Integral-Type Event-Triggered Approach, </span><b><span style="line-height:2;">IEEE
Transactions on Aerospace and Electronic Systems</span></b><span style="line-height:2;">, 2020.&nbsp;</span><span style="line-height:2;">&nbsp;</span> 
	</li>
</ol>

--->